<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h5>Welcome to Kustomfit!</h5>
<p>
  Here at Kustomfit, we aim to provide our users with a variety of exercises to be applied to all sorts of weight routines.  Our goal is to provide our users with unique workouts tailored to their needs and the equipment that is on hand.  We would like our users to be able to both be able to use this on the go in under equipped hotel gyms as well as fully equipped gyms.
</p>
<p>
  Currently we are in the process of adding more features to compliment the existing workout generation, including the ability to locate nearby gyms and to track your progress on certain exercises that are similar.  Currently we offer the following types of routines to fit your workout needs.
</p>
<h4>
  Routines:
</h4>
<p>
  <dl class="dl-horizontal">
    <dt>Strength:</dt> 
    <dd>Our robust strength training routine pairs a compound lift with an isolation lift in a 2 exercises set, with 5 different sets per routine.  Each exercise has a relatively low number of repetitions in order to maximize strength and muscle definition.  This routine is a good fit for anyone looking to add a lot of muscle definition and strength.</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Hypertrophy:</dt> 
    <dd>Our hypertrophy training routine pairs a compound lift with 2 isolation lifts in order to create an effective set.  The repetitions of each exercise has been placed at a moderate level to allow for less heavy workout, while focusing on both strength and endurance.  This routine is very suitable for athletes who wish to pursue strength, endurance, and injury prevention.  It is also advisable for users who wish to pursue a relatively toned body, without adding unnecessary bulk.</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Circuit:</dt> 
    <dd>Our circuit training routine combines all types of lifts in a fast pace, aerobic setting to both burn calories and increase muscle endurance.</dd>
  </dl>
</p>