<% provide(:title, 'Help') %>

<h1>Help</h1>
<div class="center">
  <iframe src="https://docs.google.com/forms/d/1u9h-AzJtbSbOisfGr2wZ7l4rcfqqgtJch36wg89fhjI/viewform?embedded=true#start=openform" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
