<% if signed_in? %>
  <div data-role="header">
    <h1>Workouts</h1>
    <%= link_to "New Workout", new_workout_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  </div>
  <div data-role="content">
    <ul data-role="listview">
  	<% @workouts.each do |workout| %>
  	  <li>
  		<%= link_to workout.category.capitalize, workout %>
        <%= workout.created_at.to_date.strftime("%B %d, %Y") %>
  	  </li>
  	<% end %>
    </ul>
  </div>
<% else %>
  <div data-role="content">
    <div class="center hero-unit">
      <h1>Kustomfit</h1>
      <%= link_to image_tag("weight_lift.png"), root_path %>
      <%= link_to "Sign up now!", signup_path, "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-icon" => "star" %>
    </div>
  </div>
<% end %>
