<div class="row">
<% if signed_in? %>
  <%= render 'users/dashboard' %>
<% else %>
  <div class="span5">
    <%= link_to image_tag("weight_lift.png"), root_path %>
  </div>
  <div class="span7">
    <div class="center hero-unit">
      <h1>Kustomfit</h1>
      <h2>
        Welcome to Kustomfit, the place for all your workout needs!
      </h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
    <p>
      Here at Kustomfit, we aim to provide our users with a variety of exercises to be applied to all sorts of weight routines.  Our goal is to provide our users with unique workouts tailored to their needs and the equipment that is on hand.  We would like our users to be able to both be able to use this on the go in under equipped hotel gyms as well as fully equipped gyms.
    </p>
    <p>
      Currently we are in the process of adding more features to compliment the existing workout generation, including the ability to see proper form on exercises and to track your progress on certain exercises that are similar.
    </p>
  </div>
<% end %>
</div>
