<p><span style="font-size: x-small;">
  <dl class="dl-horizontal">
    <dt>Instructions:</dt> 
    <dd>Each set is meant to be done in an 8 minute interval. Continue through the exercises in the set with minimal breaks and repeat the circuit if necessary.  Between Sets take a 60 - 90 second break before moving on the the next set.  Once you have gone through all three sets, go through them a second time.</dd></dl></span><br /></p>
<table style="border: 1px solid #050404;" border="0" frame="box" class="table table-condensed table-striped table-bordered">
  <tbody>
	<tr class="tablerow1">
	  <td align="left"><span style="font-size: small;">Set1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></td>
	  <td align="left"><span style="font-size: small;">Reps &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;</span></td>
	  <td align="left"><span style="font-size: small;">Exercise Weight</span></td>
    </tr>
	<%= render 'exercise_circuit_row', :n => 0 %>
	<%= render 'exercise_circuit_row', :n => 1 %>
	<%= render 'exercise_circuit_row', :n => 2 %>
	<%= render 'exercise_circuit_row', :n => 3 %>
	<% if @workout_exercises.count >= 8 %>
  	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set2</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_circuit_row', :n => 4 %>
	  <%= render 'exercise_circuit_row', :n => 5 %>
	  <%= render 'exercise_circuit_row', :n => 6 %>        
	  <%= render 'exercise_circuit_row', :n => 7 %>
	<% end %>
	<% if @workout_exercises.count >= 12 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set3</span></td>
	    <td align="left"></td>
	    <td align="left"></td>
	  </tr>
	  <%= render 'exercise_circuit_row', :n => 8 %>
	  <%= render 'exercise_circuit_row', :n => 9 %>
	  <%= render 'exercise_circuit_row', :n => 10 %>
	  <%= render 'exercise_circuit_row', :n => 11 %>
	<% end %>
  </tbody>
</table>