<div data-role="collapsible" data-theme="a" data-content-theme="a">
  <h3>Instructions</h3>
  <p>Each set is meant to be done in an 8 minute interval. Continue through the exercises in the set with minimal breaks and repeat the circuit if necessary.  Between Sets take a 60 -90 second break before moving on the the next set.  Once you have gone through all three sets, go through them a second time.</p>
</div>
<div class="ui-grid-a">
  <div class="ui-block-a"><strong>Set 1</strong></div>
</div>
<%= render 'exercise_circuit_row', :n => 0 %>
<%= render 'exercise_circuit_row', :n => 1 %>
<%= render 'exercise_circuit_row', :n => 2 %>
<%= render 'exercise_circuit_row', :n => 3 %>
<% if @workout_exercises.count >= 8 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 2</strong></div>
  </div>
  <%= render 'exercise_circuit_row', :n => 4 %>
  <%= render 'exercise_circuit_row', :n => 5 %>
  <%= render 'exercise_circuit_row', :n => 6 %>
  <%= render 'exercise_circuit_row', :n => 7 %>
<% end %>
<% if @workout_exercises.count >= 12 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 3</strong></div>
  </div>
  <%= render 'exercise_circuit_row', :n => 8 %>
  <%= render 'exercise_circuit_row', :n => 9 %>
  <%= render 'exercise_circuit_row', :n => 10 %>
  <%= render 'exercise_circuit_row', :n => 11 %>
<% end %>