<tr>
  <td align="left"><%= @workout_exercises[n].name %></td>
  <td align="left"><%= @workout_exercises[n].hypertrophy_reps %></td>
  <td align="left"><%= form_for @workoutexercises[n], :remote => true do |f| %>
                     <div class="input-append"><%= f.text_field :exercise_weight, :class => 'input-small' %>
                     <%= button_tag(type: 'submit', class: "btn btn-primary", disable_with: 'Processing...') do %>
                       <i class="icon-ok icon-white"></i>
                     <% end %></div>
                   <% end %>
</tr>