<div data-role="collapsible" data-theme="b" data-content-theme="d" data-mini="true">
  <h6>
    <%= @workout_exercises[n].name %>
  </h6>
  <p>
	Reps: <%= @workout_exercises[n].circuit_reps %>
    <%= form_for @workoutexercises[n], :remote => true do |f| %>
      <%= f.label :exercise_weight %>
      <div class="ui-grid-a" >
        <div class="ui-block-a"><%= f.text_field :exercise_weight %></div>
        <div class="ui-block-b"><%= f.submit "Update", "data-role" => "button", "data-theme" => "b" %></div>
      </div>
    <% end %>
  </p>
</div>