<div class="row">
  <div class="span6">
    <%= semantic_form_for @workout do |f| %>
  	  <%= f.inputs do %>
	    <%= f.input :name %>
		<%= f.input :category, :label => "Type of Workout", :collection => 
		                                                    [["Circuit Training", "Circuit Training"],                               
		                                                     ["Strength Training", "Strength Training"], 
		                                                     ["Hypertrophy Training", "Hypertrophy Training"]] %>
	    <%= f.input :equipments, :label => "Available Equipment" %>
		<%= f.input :muscle_groups, :label => "Muscle Groups To Focus On" %>
      <% end %>
	  <%= f.actions do %>
        <%= f.action :submit, :as => :button, :button_html => { :label => "create case", :class => "btn btn-primary btn-block btn-large", :disable_with => 'Processing...' } %>
   	    <%= f.action :cancel, :as => :link, :button_html => { :label => "create case", :class => "btn btn-block btn-large", :disable_with => 'Processing...' } %>
      <% end %>
    <% end %>
  </div>
</div>