<p><span style="font-size: x-small;">
  <dl class="dl-horizontal">
    <dt>Instructions:</dt> 
    <dd>*ADD INSTRUCTIONS!!!!!!!*</dd></dl></span><br /></p>
<table style="border: 1px solid #050404;" border="0" frame="box" class="table table-condensed table-striped table-bordered">
  <tbody>
	<tr class="tablerow1">
	  <td align="left"><span style="font-size: small;">Set 1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></td>
	  <td align="left"><span style="font-size: small;">Reps &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></td>
	  <td align="left"><span style="font-size: small;">Exercise Weight</span></td>
    </tr>
    <%= render 'exercise_hypertrophy_row', :n => 0 %>
	<%= render 'exercise_hypertrophy_row', :n => 1 %>
	<%= render 'exercise_hypertrophy_row', :n => 2 %>
	<% if @workout_exercises.count >= 6 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set 2</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_hypertrophy_row', :n => 3 %>
	  <%= render 'exercise_hypertrophy_row', :n => 4 %>
	  <%= render 'exercise_hypertrophy_row', :n => 5 %>
	<% end %>
	<% if @workout_exercises.count >= 9 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set 3</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_hypertrophy_row', :n => 6 %>
	  <%= render 'exercise_hypertrophy_row', :n => 7 %>
	  <%= render 'exercise_hypertrophy_row', :n => 8 %>
	<% end %>
	<% if @workout_exercises.count >= 12 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set 4</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_hypertrophy_row', :n => 9 %>
	  <%= render 'exercise_hypertrophy_row', :n => 10 %>
	  <%= render 'exercise_hypertrophy_row', :n => 11 %>
	<% end %>
  </tbody>
</table>