<div data-role="collapsible" data-theme="a" data-content-theme="a">
   <h3>Instructions</h3>
   <p>Add Strength Training Instructions</p>
</div>
<div class="ui-grid-a">
  <div class="ui-block-a"><strong>Set 1</strong></div>
</div>
<%= render 'exercise_strength_row', :n => 0 %>
<%= render 'exercise_strength_row', :n => 1 %>
<% if @workout_exercises.count >= 4 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 2</strong></div>
  </div>
  <%= render 'exercise_strength_row', :n => 2 %>
  <%= render 'exercise_strength_row', :n => 3 %>
<% end %>
<% if @workout_exercises.count >= 6 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 3</strong></div>
  </div>
  <%= render 'exercise_strength_row', :n => 4 %>
  <%= render 'exercise_strength_row', :n => 5 %>
<% end %>
<% if @workout_exercises.count >= 8 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 4</strong></div>
  </div>
  <%= render 'exercise_strength_row', :n => 6 %>
  <%= render 'exercise_strength_row', :n => 7 %>
<% end %>
<% if @workout_exercises.count >= 10 %>
  <div class="ui-grid-a">
    <div class="ui-block-a"><strong>Set 5</strong></div>
  </div>
  <%= render 'exercise_strength_row', :n => 8 %>
  <%= render 'exercise_strength_row', :n => 9 %>
<% end %>
