<p><span style="font-size: x-small;">
  <dl class="dl-horizontal">
    <dt>Instructions:</dt> 
    <dd>Perform each set 3 times, alternating the exercises in each set.  Then move to the next set.  In between each exercise take a 15 - 30 second rest.  If Repetitions decrease then increase the weight lifted incrementally.</dd></dl></span><br /></p>
<table style="border: 1px solid #050404;" border="0" frame="box" class="table table-condensed table-striped table-bordered">
  <tbody>
	<tr class="tablerow1">
	  <td align="left"><span style="font-size: small;">Set 1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></td>
	  <td align="left"><span style="font-size: small;">Reps &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></td>
	  <td align="left"><span style="font-size: small;">Exercise Weight</span></td>
    </tr>
	<%= render 'exercise_strength_row', :n => 0 %>
	<%= render 'exercise_strength_row', :n => 1 %>
	<tr class="tablerow1">
	  <td align="left"><span style="font-size: small;">Set 2</span></td>
	  <td align="left">&nbsp;</td>
	  <td align="left">&nbsp;</td>
	</tr>
	<%= render 'exercise_strength_row', :n => 2 %>
	<%= render 'exercise_strength_row', :n => 3 %>
	<tr class="tablerow1">
	  <td align="left"><span style="font-size: small;">Set 3</span></td>
	  <td align="left">&nbsp;</td>
	  <td align="left">&nbsp;</td>
	</tr>
	<%= render 'exercise_strength_row', :n => 4 %>
	<%= render 'exercise_strength_row', :n => 5 %>
	<% if @workout_exercises.count >= 8 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set 4</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_strength_row', :n => 6 %>
	  <%= render 'exercise_strength_row', :n => 7 %>
	<% end %>
	<% if @workout_exercises.count >= 10 %>
	  <tr class="tablerow1">
	    <td align="left"><span style="font-size: small;">Set 5</span></td>
	    <td align="left">&nbsp;</td>
	    <td align="left">&nbsp;</td>
	  </tr>
	  <%= render 'exercise_strength_row', :n => 8 %>
	  <%= render 'exercise_strength_row', :n => 9 %>
	<% end %>
  </tbody>
</table>