<li>
  <div class="span3">
    <aside class="span1">
      <% if workout.category == "Circuit Training"%>
        <%= link_to image_tag("weight1.png"), workout %>
      <% elsif workout.category == "Hypertrophy Training" %>
        <%= link_to image_tag("weight2.png"), workout %>
      <% else %>
        <%= link_to image_tag("weight3.png"), workout %>
      <% end %>
    </aside>
    <span class="name">
      <h4><%= workout.category %></span></h4>
    </span>
  </div>
  <aside class="offset4">
	<%= link_to '<i class="icon-eye-open icon-white"></i>'.html_safe, workout, class: "btn btn-primary" %>
	<%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, workout, class: "btn btn-danger", :confirm => "Are you sure?", :method => :delete %>
	</br>
	<span class="timestamp">
      Posted <%= time_ago_in_words(workout.created_at) %> ago.
    </span>
  </aside>
</li>