<h1>Workouts</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for workout in @workouts %>
    <tr>
      <td><%= workout.name %></td>
      <td><%= link_to "Show", workout %></td>
      <td><%= link_to "Edit", edit_workout_path(workout) %></td>
      <td><%= link_to "Destroy", workout, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Workout", new_workout_path %></p>
