<div data-role="header">
  <h1>New Workout</h1>
  <%= link_to "Back", root_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
  <%= semantic_form_for @workout do |f| %>
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :category, :label => "Type of Workout", :collection => [["Circuit Training", "Circuit Training"], ["Strength Training", "Strength Training"], ["Hypertrophy Training", "Hypertrophy Training"]] %>
      <%= f.input :equipments, :label => "Available Equipment" %>
      <%= f.input :muscle_groups, :label => "Muscle Groups To Focus On" %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :button_html => { "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-icon" => "check" }%>
    <% end %>
  <% end %>
<div>