<div data-role="header">
  <h1><%= @workout.name.capitalize %></h1>
  <%= link_to "Delete", @workout, :confirm => "Are you sure?", :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
  <%= link_to "Back", current_user, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
  <% if @workout.category == "Strength Training" %>
    <%= render 'strength_training' %>
  <% elsif @workout.category == "Hypertrophy Training" %>
    <%= render 'hypertrophy_training' %>
  <% else %>
	<%= render 'circuit_training'%>
  <% end %>
</div>