<% provide(:title, @workout.name) %>

<div class="row">
  <div class="span8">
    <p>
	  <% if @workout.category == "Strength Training" %>
        <%= render 'strength_training' %>
      <% elsif @workout.category == "Hypertrophy Training" %>
        <%= render 'hypertrophy_training' %>
	  <% else %>
	    <%= render 'circuit_training'%>
	  <% end %>
    </p>
  </div>
</div>

  

