<div data-role="header">
  <h1>Sign In</h1>
  <%= link_to "Back", root_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <p>
      <%= link_to "Forgotten Password?", new_password_reset_path %>
    </p>
    <fieldset data-role="fieldcontain" class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </fieldset>

    </br>
    <div class="actions">
      <%= f.submit "Sign in", "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-icon" => "plus" %>
    </div>
  <% end %>
  
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>