<div class="row">
  <div class="span6 offset3">
	<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
	  <% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	  </div>
	  <div class="actions"><%= f.submit "Update Password", class: "btn btn-large btn-primary" %></div>
	<% end %>
  </div>
</div>