<h1>Password Reset</h1>

<div class="row">
  <div class="span6 offset3">
	<%= form_tag password_resets_path, :method => :post do %>
	  <div class="field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	  <div class="actions"><%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %></div>
	<% end %>
  </div>
</div>