<div data-role="header">
  <h1>Reset Password</h1>
  <%= link_to "Back", root_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
  <%= form_tag password_resets_path, :method => :post do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="actions"><%= submit_tag "Reset Password", "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-icon" => "plus" %></div>
  <% end %>
</div>