<div class="row">
  <div class="span6">
    <%= semantic_form_for @equipment do |f| %>
  	  <%= f.inputs do %>
	    <%= f.input :name %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :button_html => { :label => "create case", :class => "btn btn-large btn-primary btn-block", :disable_with => 'Processing...' } %>
		<br>
    	<%= f.action :cancel, :as => :link, :button_html => { :label => "create case", :class => "btn btn-block btn-large", :disable_with => 'Processing...' } %>
  	  <% end %>
    <% end %>
  </div>
</div>