<h1>Equipment</h1>

<table class="table table-condensed">
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr>
    <td><%= equipment.name %></td>
    <td><%= link_to 'Show', equipment, class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Edit', edit_equipment_path(equipment), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipment', new_equipment_path, class: "btn btn-mini btn-info" %>