<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>
<p>
  <b>Exercises:</b>
  <% @exercises.each do |exercise| %>
    <li>
	  <%= exercise.name %>
  	</li>
  <% end %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
