<div class="span7">
  <% if current_user.workouts.any? %>
    <h3>Previous Workouts (<%= current_user.workouts.count %>)</h3>
    <%= will_paginate @workouts, class: "pagination pagination-small pagination-right" %>
    <ol class="workouts">
      <%= render @workouts %>
    </ol>
    <%= will_paginate @workouts, class: "pagination pagination-small pagination-right" %>
  <% else %>
    <h3>Welcome to the Kustomfit Dashboard!</h3>
	<p>You currently have no workouts. To create your first Kustomfit workout, click the <%= link_to "New Workout", new_workout_path %> button on the left sidebar.</p>
  <% end %>
</div>
