<div data-role="header">
  <h1>New User</h1>
  <%= link_to "Back", root_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>
<div data-role="content">
  <div class="row">
    <div class="span6 offset3">
      <%= semantic_form_for @user do |f| %>
	    <%= f.inputs do %>
		  <%= f.input :name %>
		  <%= f.input :email %>
		  <%= f.input :password %>
		  <%= f.input :password_confirmation %>
		  <%= raw recaptcha_tags %>
	    <% end %>
	    <%= f.actions do %>
	      <%= f.action :submit, :as => :button, :button_html => { :label => "create case", :class => "btn btn-primary btn-block btn-large", :disable_with => 'Processing...' } %>
		  <br>
	    <% end %>
      <% end %>
    </div>
  </div>
</div>