<div class="row">
  <div class="span6">
    <%= semantic_form_for @gym do |f| %>
	  <%= f.inputs do %>
		<%= f.input :name %>
		<%= f.input :street_address %>
		<%= f.input :city %>
		<%= f.input :state %>
		<%= f.input :zip %>
		<%= f.input :phone_number, :required => false %>
		<%= f.input :website, :required => false %>
		<%= f.input :equipments, :label => "Equipment" %>
	  <% end %>
	  <%= f.actions do %>
	    <%= f.action :submit, :as => :button, :button_html => { :label => "create case", :class => "btn btn-primary btn-block btn-large", :disable_with => 'Processing...' } %>
   	    <%= f.action :cancel, :as => :link, :button_html => { :label => "create case", :class => "btn btn-block btn-large", :disable_with => 'Processing...' } %>
	  <% end %>
    <% end %>
  </div>
</div>