<h1>Gyms</h1>

<table class="pretty table">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Full Address</th>
	<th>Distance</th>
    <th><%= sortable "phone_number" %></th>
    <th><%= sortable "website" %></th>
    <th><%= sortable "hours" %></th>
  </tr>
  <% for gym in @gyms %>
    <tr>
      <td><%= gym.name %></td>
      <td><%= gym.full_address %></td>
	  <td><%= gym.distance.to_f.round(2) %> Miles</td>
      <td><%= gym.phone_number %></td>
      <td><%= gym.website %></td>
      <td><%= gym.hours %></td>
      <td><%= link_to "Show", gym %></td>
      <td><%= link_to "Edit", edit_gym_path(gym) %></td>
      <td><%= link_to "Destroy", gym, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gym", new_gym_path %></p>
