
<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>
<p>
  <strong>Street Address:</strong>
  <%= @gym.street_address %>
</p>
<p>
  <strong>City:</strong>
  <%= @gym.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @gym.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @gym.zip %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @gym.phone_number %>
</p>
<p>
  <strong>Website:</strong>
  <%= @gym.website %>
</p>
<p>
  <strong>Hours:</strong>
  <%= @gym.hours %>
</p>

<p>
  <%= link_to "Edit", edit_gym_path(@gym) %> |
  <%= link_to "Destroy", @gym, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gyms_path %>
</p>
