<div class="row">
  <% if signed_in? %>	
    <div class="span6">
  <% else %>
    <div class="span6 offset3">
  <% end %>
    <%= form_for @message, :url => contact_path do |f| %>
          
      <%= f.label :name %>
      <%= f.text_field :name %>
        
      <%= f.label :email %>
      <%= f.text_field :email %>
          
      <%= f.label :subject %>
      <%= f.text_field :subject %>
        
      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= raw recaptcha_tags %>
          
      <%= f.submit "Send", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>