<h1>Muscle Groups</h1>

<table class="table table-condensed">
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @muscle_groups.each do |muscle_group| %>
  <tr>
    <td><%= muscle_group.name %></td>
    <td><%= link_to 'Show', muscle_group, class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Edit', edit_muscle_group_path(muscle_group), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', muscle_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Muscle Group', new_muscle_group_path, class: "btn btn-mini btn-info" %>