<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @muscle_group.name %>
</p>

<p>
  <%= link_to "Edit", edit_muscle_group_path(@muscle_group) %> |
  <%= link_to "Destroy", @muscle_group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", muscle_groups_path %>
</p>
