<div class="row">
  <div class="span6">
    <%= semantic_form_for @exercise do |f| %>
  	  <%= f.inputs do %>
	    <%= f.input :name %>
	    <%= f.input :instructions %>
        <%= f.input :exercise_type, :label => "Type of Exercise", :collection => [["Compound Lift", "Compound Lift"], ["Isolation Lift", "Isolation Lift"]] %>
		<%= f.input :muscle_groups, :label => "Muscle Group" %>
	    <%= f.input :circuit_reps, :label => "Circuit Training Reps" %>
	    <%= f.input :strength_reps, :label => "Strength Training Reps" %>
	    <%= f.input :hypertrophy_reps, :label => "Hypertrophy Training Reps"%>		
	    <%= f.input :equipments, :label => "Equipment" %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :button_html => { :label => "create case", :class => "btn btn-large btn-primary btn-block", :disable_with => 'Processing...' } %>
		<br>
    	<%= f.action :cancel, :as => :link, :button_html => { :label => "create case", :class => "btn btn-block btn-large", :disable_with => 'Processing...' } %>
  	  <% end %>
    <% end %>
  </div>
</div>