<h1>Exercises</h1>

<table class="table table-condensed">
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
    <th>Circuit Training Reps &nbsp; &nbsp; </th>
    <th>Strength Training Reps</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.name %></td>
	<td><%= exercise.circuit_reps %></td>
	<td><%= exercise.strength_reps %></td>
    <td><%= link_to 'Show', exercise, class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>
<%= will_paginate %>

<br />

<%= link_to 'Create New Exercise', new_exercise_path, class: "btn btn-mini btn-info" %>
