<div class="row">
  <div class="span6 offset3">
	<p id="notice"><%= notice %></p>

	<p>
      <b><u><%= @exercise.name %></u></b>
    </p>
    <p>
      <b>Equipment:</b>
      <% @equipment.each do |equipment| %>
        <li>
	      <%= equipment.name %>
  	    </li>
      <% end %>
    </p>
	<p>
	  <b>Circuit Training Reps: <%= @exercise.circuit_reps %> </b>
	</p>
	<p>
	  <b>Strength Training Reps: <%= @exercise.strength_reps %> </b>
	</p>

    <%= link_to 'Edit', edit_exercise_path(@exercise) , class: "btn btn-mini"%> |
    <%= link_to 'Back', exercises_path , class: "btn btn-mini btn-primary"%>
  </div>
</div>
