<footer class="footer navbar navbar-fixed-bottom">
  <div class="container">
    <small>
      <a href="http://www.kustomfit.org/">Kustomfit</a>
      by Sean Cook
    </small>
    <nav>
      <ul>
        <li><%= link_to "Feedback", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>