<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kustomfit", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
            <% if current_user.admin? && !current_user?(User) %>
			  <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  Admin Menu <b class="caret"></b>
                </a>
				<ul class="dropdown-menu">
				  <li><%= link_to "Muscle Groups", muscle_groups_path %></li>
				  <li><%= link_to "Exercises", exercises_path %></li>
				  <li><%= link_to "Equipment", equipment_index_path %></li>
                  <li><%= link_to "Find Gym", gyms_path %></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
			  </li>
			<% end %>	
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Workouts", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>