<div class="span4" style="position: fixed">
  <div class="well">
    </br>
    <section>
      <a href="<%= user_path(current_user) %>"><%= gravatar_for current_user, size: 80 %></a>
      <h2><%= current_user.name %></h2>
    </section>
    </br>
    </br>
    <div>
      <%= link_to "<i class='icon-plus icon-white icon-left'></i>New Workout".html_safe, new_workout_path, class: "btn btn-primary btn-block" %>
      <%= link_to "<i class='icon-eye-open icon-white icon-left'></i>My Workouts".html_safe, root_path, class: "btn btn-block btn-primary" %>
      <%= link_to "<i class='icon-plus icon-white icon-left'></i>View Exercise Progress".html_safe, "#", class: "btn btn-primary btn-block", :confirm => "This page is under construction." %>
    </div>
  </div>
</div>