<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
	  <% flash.each do |key, value| %>
	    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <% if signed_in? %>
        <%= render 'layouts/sidebar' %>
        <div class="offset4 span7">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>