<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.mobile.min" %>
    <%= stylesheet_link_tag    "jquery.mobile.min.css" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page">
	  <div data-role="header" data-position="fixed">
		<div data-role="navbar">
		  <%= link_to "Kustomfit", '#', id: "logo" %>
	    </div>
	  </div>
	  <% flash.each do |key, value| %>
	    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	  <% end %>
      <%= yield %>
	  <div data-role="footer" data-position="fixed">
		<div data-role="navbar">
		  <% if signed_in? %>
		    <ul>
		      <li><%= link_to "My Workouts", current_user %></li>
		      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		    </ul>
		  <% else %>
		    <li><%= link_to "Sign in", signin_path %></li>
		  <% end %>
		</div>
      </div>
    </div>
  </body>
</html>